* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spartan";
//   background: springgreen;
}

.navbar{
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}

.nav-item {
    .nav-link{
        color: midnightblue;
        font-weight: bold;
    }
    .active:hover{
        color: white;
    }
}
